@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import "tailwindcss";

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f0518;
}
